<meta name=viewport content='width=device-width, initial-scale=1'>
<title>test</title>
<link rel=stylesheet href=style.css>

<script type="text/javascript">
	window.onload = (e) => {
		let input = document.querySelector('.element');

		input.value = 0;
		input.onchange = change;
	}

	function change(source) {
		const element = source.target.value;

		if (element) {
			document.querySelector('form').action = `product${element}`;
		}
	}
</script>

<body>
	<div class='wrapper'>
		<div class='inner'>
			<form method=POST action='/product0' enctype='multipart/form-data'>
				<input type=text class=element>
				<input type=file name=product accept='image/png' required>
				<input type=submit value='Send'>
			</form>
		</div>
	</div>
</body>