<meta name=viewport content='width=device-width, initial-scale=1'>
<title>test</title>
<link rel=stylesheet href=style.css>

<script>
	let array = [];

	window.onload = (e) => {
		fetch('http://195.161.41.36:3000/all')

		.then(response => {
			return response.json();
		})

		.then(data => {
			data.forEach(element => {add(element.element,element.name,element.price,element.count);});
		});

		function add(element, name, price, count) {
			array.push({'element': element, 'name': name, 'price': price, 'count': count});

			var outer1 = document.createElement('div');
			var inner1 = document.createElement('div');
			var inner2 = document.createElement('div');
			var inner3 = document.createElement('input');
			var inner4 = document.createElement('input');
			var inner5 = document.createElement('input');
			var inner6 = document.createElement('input');

			inner3.type = 'text';
			inner4.type = 'text';
			inner5.type = 'text';
			inner6.type = 'button';

			inner3.onchange = edit;
			inner4.onchange = edit;
			inner5.onchange = edit;
			inner6.onclick  = remove;

			inner1.style = 'display: flex;';
			inner2.style = 'margin: auto;';

			inner2.innerText = element;

			inner3.value = name;
			inner4.value = price;
			inner5.value = count;
			inner6.value = 'Reomove';

			//link data

			inner3.title = `name|${element}`;
			inner4.title = `price|${element}`;
			inner5.title = `count|${element}`;
			inner6.title = element;	

			outer1.append(inner1);
			inner1.append(inner2);
			outer1.append(inner3);
			outer1.append(inner4);
			outer1.append(inner5);
			outer1.append(inner6);

			document.querySelector('products').append(outer1);
		}
	}

	function edit(source) {
		let encoded = source.target.title;
		encoded = encoded.match(/(.*?)\|(\d+)/);

		const parametr 	= encoded[1];
		const product 	= encoded[2];
		const value 	= source.target.value;

		array.forEach(row => {
			if (row.element == product) {
				row[parametr] = value;

				fetch(`http://195.161.41.36:3000/update/${row.element}/${row.name}/${row.price}/${row.count}/`);
			}
		})
	}

	function remove(source) {
		let element = source.target.title;

		source.target.parentElement.remove();

		fetch(`http://195.161.41.36:3000/delete/${element}/`);
	}

	function add() {
		const name  = document.querySelector('.name' ).value;
		const price = document.querySelector('.price').value;
		const count = document.querySelector('.count').value;

		if (name) {
			if (price) {
				if (count) {
					fetch(`http://195.161.41.36:3000/add/${name}/${price}/${count}/`);

					location.reload();
				}
			}
		}
	}

</script>

<body>
	<div class=wrapper>
		<div class=inner>
			<products>
				<div class=head><div>Element</div><div>Name</div><div>Price</div><div>Count</div><div>Manage</div></div>
				<div>
					<div style='display:flex;'>
						<div style='margin:auto;'>-</div>
					</div>
					<input type=text class=name>
					<input type=text class=price>
					<input type=text class=count>
					<input type=button onclick=add() value='Add'>
				</div>
			</products>
		</div>
	</div>
</body>