body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: hsl(0deg 0% 30%);

	margin: 0;
	padding: 0;

	min-height: 100vh;
}

.wrapper {
	display: flex;
	position: absolute;

	width: 100%;
	min-height: 100%;
}

.inner {
	margin: auto;
	padding: 10px 25px;

	border-radius: 3px;
}

products > div {
	background-color: hsl(0deg 0% 95%);

	display: grid;
	grid-template-columns: repeat(5, 80px);

	margin: 2px;
	padding: 10px;
}

.head {
	text-align: center;
}

input {
	color: hsl(0deg 0% 30%);

	font-family: Arial, sans-serif;
	font-size: 12px;
	text-overflow: ellipsis;
	vertical-align: middle;

	margin: 1px;
	padding: 10px;

	border: 1px solid hsl(0deg 0% 95%);

	outline: none;
	-webkit-appearance: none;
}

input[type=button] {
	background-color: hsl(0deg 100% 70%);
	color: white;
}

input[type=submit] {
	background-color: hsl(200deg 100% 70%);
	color: white;
}

form {
	display:grid;
	grid-template-columns: 45px auto 100px;

	margin: 20px 0;
}

.element {
	text-align: center;
}